# 服务监听配置
SERVER_HOST=127.0.0.1
SERVER_PORT=18733
SERVER_RELOAD=true

# 运行设备：auto / cpu / gpu / gpu:0
PPOCR_DEVICE=auto

# 模型目录：支持相对路径，也支持绝对路径
PPOCR_DET_MODEL_DIR=./models/ppocr/det/PP-OCRv5_mobile_det
PPOCR_REC_MODEL_DIR=./models/ppocr/rec/korean_PP-OCRv5_mobile_rec

# 可选开关：当前阶段默认全部关闭，先追求稳定识别
PPOCR_USE_TEXTLINE_ORIENTATION=false
PPOCR_ENABLE_DOC_ORIENTATION=false
PPOCR_ENABLE_DOC_UNWARPING=false
